/*NOVO CSS*/
#cardsModuloTarefa{
    padding-top:15px;
    height: 100%;
    width: 83vw;
  }
  #cardsModuloTarefa h2{
    width: 67%;
    margin-left: 20px;
  }
  article.cardTarefa{
    width:31%;
    height: auto;
    display: inline-block;
    margin-left: 20px;
    vertical-align: top;
  }
  .cardTarefa .titulo{
    text-align: center;
    background-color: #5f9ea0ff;
    font-weight: 300;
    font-size: 1.3rem;
    color:#dcdcdcff;
    padding: 5px;
  }

  .cardTarefa .texto-item-container{

    font-size: 1rem;
    color: #383838;
    padding: 15px;
  }
  #cardsModuloTarefa .item{
    margin: 10px 0 10px 0;
    border: 1px solid #c1c1c1;

  }
  .cardTarefa .container-itens-menu{
    height: auto;
    color:#5f9ea0;
  }
  .cardTarefa .container-itens-menu ul{
    list-style: none;
    display: flex;
    padding: 8px;
    flex-direction: row;
    background-color: #d2e2e2;
  }
  .cardTarefa .container-itens-menu ul li{
    flex:1;
    text-align: center;
    font-size: 0.9rem;
    cursor: pointer;
  }
  #task-info{
    width: 500px;
    min-height: 100vh;
    height: auto;
    background-color: #4f6f80;
    position: absolute;
    top:0;
    right: 0;
  }
  #task-info #listInformation{
    background-color: unset;
  }
  .kanban-addIcon__container{
    width: 15px;
    height: 15px;
    background-color: #b0e0e6;
    background-image: url('../../assets/images/addIcon.svg');
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
    margin: 6px;
    cursor: pointer;
  }
  #kanban-list-info{
    position: absolute;
    top: 48px;
    left: 60%;
    width: 80%;
    border-top: 1px solid #1f31313d;
  }
  #kanban-list-info .btn-fechar-subtask{
    padding: 10px;
    width: 100%;
    background-color: #5f9ea0;
  }
  #kanban-list-info i{
    color: #b0e0e6;
    cursor: pointer;
  }
  #kanban-list-info .titleContainer h2{
    padding-top: 0px;
  }
  .kanban-subtask-length{
    display: inline-block;
    background-color: #5f9ea0;
    color: #d2e2e2;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 3px;
    margin-right: 5px;
  }
  .container-itens-menu li:hover{
    color: #383838;
  }

  /*
  .kanban-addIcon:hover{
    background-image: url('../images/addIcon_hover.svg');
  }
  .kanban-addIcon:active{
    background-image: url('../images/addIcon.svg');
  }*/
