.active{
    font-weight: 400!important;
    color: #b0e0e6ff!important;
}
.deleteIcon{
    float: right;
    font-size: 20px;
    margin-right: 24px;
    opacity: 0.2;
    cursor:pointer;
}
a.active ~ a>i{
    opacity: 0.8;
}
.deleteIcon:hover{
    opacity: 1.0;
}
.deleteIcon:active{
    opacity: 0.4;
}
.ico-burger-container{
    width: 100%;
    margin: 0;
    height: auto;
    padding: 0 0 0 25px;
    background-color: #5f9ea0ff;
    color:#b0e0e6ff;
    cursor: pointer;
}
.height100{
    height: 100%;
}
.is-hidden{
    display: none;
}