#listInformation .wrapCheckBox{
    width: 24px;
    float: left;
    margin-top: 4px;
}
#listInformation .itemContainer {
    padding: 8px 16px 8px 16px;
}
#listInformation div.wrapCheckBox:before{
    width: 16px;
    height: 16px;
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
    border-radius: 4px;
    display: inline-block;
    content: "";
    margin-right: 12px;
    vertical-align: middle;
    margin-bottom: 2px;
    cursor:pointer;
    transition: all 0.2s ease;
}
#listInformation input[type='checkbox']:checked ~ div.wrapCheckBox:before{
    font-family: 'Material Icons';
    content: "check";
    font-weight: 800;
    color: #0084ff;
    text-align: center;
    border-color: #0084ff;
    background-color: #ffffff;
}
#subItemControllers{
    margin: 0 16px 0 24px;
    text-align: right;
}
#subItemControllers button{
    padding: 6px 12px;
    width: auto;
    color: #787774;
    border: 1px solid #e5e5e5;
    margin: 8px 4px 4px 0;
    pointer-events: none;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 500;
    transition: all 0.2s ease;
    background-color: #ffffff;
}
#subItemControllers button.active{
    background-color: #0084ff;
    color: #ffffff;
    border: 1px solid #0084ff;
    cursor: pointer;
    pointer-events: all;
}
#subItemControllers button.active:active{
    background-color: #0560c4;
    color: #ffffff;
}
#subItemControllers button.active:hover{
    background-color: #0673d6;
}
.completed{
    text-decoration: line-through;
    opacity: 0.5;
}

@media (max-width:760px){
    #listInformation{
      width: 100vw;
    }
    #listInformation button{
        width: 10%;
    }
    #subItemControllers button{
        width: auto;
    }
    #listInformation input[type='text']{
        width: 90%;
    }
  }