#doneComponent{
    width: 90%;
    margin: 10px auto 10px auto;
    border-radius: 8px;
    border:1px solid #dcdcdcff;
    text-align: center;
  }
  #doneComponent .doneItem{
    width: 0%;
    border-radius: 8px;
    background-color: #b0e0e6ff;
    text-align: center;
    height: 13px;
  }
  #doneComponent span{
    position: absolute;
    color: #1f3131ff;
    opacity: 0.9;
  }