/* You can add global styles to this file, and also import other style files */
.cdk-drag-preview{
  opacity: 0;
}
.cdk-drag-animation{
  transition: transform 500ms cubic-bezier(0,0,0.2,0);
}
.cdk-drop-list-dragging .cdk-drag{
  transition: transform 100ms cubic-bezier(0,0,0.2,0);
}
@media only screen and (max-width:450px){
    div.grid-template-columns-3{
        grid-template-columns: 7px 2fr;
    }
}
